.Payment{
    // width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 50px;
  
    .payment-page__heading{
        font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    }
}