.payment-success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  
    .success-icon {
      width: 80px; /* Adjust the width as needed */
      height: 80px; /* Adjust the height as needed */
      margin-bottom: 1rem;
    }
  
    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }
  
    p {
      font-size: 1.2rem;
      margin-bottom: 0.5rem;
    }
  }